<%- include('header') -%>

    <h1>Contact Details</h1>
    <p>Civilité: <%= contact.civilite %></p>
    <p>Nom: <%= contact.nom %></p>
    <p>Prénom: <%= contact.prenom %></p>
    <p>Téléphone: <%= contact.telephone %></p>
    <p>Email: <%= contact.email %></p>
    <p>Date de naissance: <%= contact.dateNaissance %></p>
</body>
</html>
