<%- include('header.ejs') -%>

    <h1>Details</h1>
    <p>Civilité: <%= contact.civilite %></p>
    <p>Nom: <%= contact.nom %></p>
    <p>Prénom: <%= contact.prenom %></p>
    <p>Téléphone: <%= contact.telephone %></p>
    <p>Email: <%= contact.email %></p>
    <p>Date de naissance: <%= contact.dateNaissance %></p>

    <a href="/delete/<%= contact.id %>" class="delete-contact-btn">Supprimer le contact</a>

  <a href="/" class="back-btn">Retour à la liste des contacts</

</body>
</html>
